/* Collection products */

.collection-products {
    margin-top: 16px;
}

.collection-products__container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: var(--background-color);
	border-radius: 10px;
}

.collection-products__container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	width: 97vw;
	height: 100%;
	background: var(--background-color);
	box-shadow: 0 -1px 30px 8px #0003;
	z-index: -1;
	border-radius: 10px;
}

.collection-products__wrapper {
    margin-top: 32px;
    margin-bottom: 42px;
	display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 32px;
}

/* Collection products */

/* Collection card */

.collection-card:hover .collection-card__image::after {
    backdrop-filter: blur(5px);
}

.collection-card__wrapper {
    border-radius: var(--border-radius);
    box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.1);
    transition: all .6s;
}

.collection-card__wrapper:hover {
    box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.2);
}

.collection-card__wrapper {
	max-height: 100%;
	max-width: 100%;
	width: 255px;
	height: 368px;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-align: center;
	background-color: #f9f9f9;
	border-radius: 10px;
	-webkit-transition: .2s;
	transition: .2s;
	position: relative;
}

.collection-card__image {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: start;
}

.collection-card__image::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: var(--border-radius);
    background: rgba(9, 9, 9, 0.4);
    transition: all ease .4s;
}

.collection-card__image img {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius);
	-webkit-transition: cubic-bezier(.79,.14,.15,.86) .2s;
	transition: cubic-bezier(.79,.14,.15,.86) .2s;
}

.collection-card__title {
	position: absolute;
	top: 50%;
	left: 50%;
	font-weight: 400;
	font-size: 32px;
	line-height: 49px;
	text-transform: uppercase;
    text-decoration: none;
	color: var(--white);
	display: inline-block;
	width: max-content;
    max-width: 255px;
	margin: 0;
	transform: translate(-50%, -50%);
}

.collection-card__title:hover {
    color: var(--white);
}

/* Collection card */